.contest-box {
    display: flex;
    flex-direction: row;
}

.contest-box button {
    margin-top: 20px;
    color: black;
}

.contest-box .problem-box .problem .OK {
    background-color: #d4edc9 !important;
}

.contest-box .problem-box .problem .REJECTED {
    background-color: #ffe3e3 !important;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 1px;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 1.3rem;
}

td {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}